@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body
{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;  
}
/*========================== menu =====================*/
#menu li > a /* si el elemento a esta adentro del li*/
{
    font-size: 18px;
    font-weight: bold;/* "bold" negrita*/
    color:#222222;
}

#menu form > button /*si el elemento buttom esta adentro de form*/ 
{
    font-size: 18px;
    font-weight: bold;
}

.carousel-inner
{
 max-height: 39rem;/*tenemos un limite en el alto*/  
}
#img-equipo{
    max-height:30rem !important;
    width:50%;
}

@media (max-width: 768px)/*para pantallas normales*/
{   #local 
    {
        flex-wrap: wrap;
    }
    #img-equipo
    {
        max-height:20rem !important;
        width:90%;
    }
    #intro,#equipo
    {
        width: 90% !important;
    }
    #equipo p
    {
        display: none;
    }
    .servicio-fila
    {
        width: 100% !important;
        text-align: center;
    }
    #bg-contacto
    {
    position:relative;
    top: -130px;
    }
    .wrapper
    {
        width:90%;
        margin:auto;
        padding-top:50px; 
    }
    .mapa img {
        width:100%;
        height:auto;
    }    
}
@media(max-width: 576px)/* para pantallas pequeñas */
{
    
     .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
        text-align: center;
     }
}
@media(max-width: 1200px)/*pantallas anchas*/
{    #intro, #equipo 
    {
        width:90% !important;
        margin:auto;
    }
    #local
    {
        flex-wrap: wrap;/*apilacion*/ 
        padding-top: 30px;
    }
    .wrapper
    {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

.mapa{
    background: url(../img/mapa\ \(1\).png);
    width: 100%;  /*ancho 100%*/
    height: 500px;  /*alto 500pixeles*/
}
#local
{
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;/*se vea una linea en los parrafos*/
    justify-content: center;
    margin-top: 50px;
}
.wrapper
{
    width: 50%;
    margin-left: 100px;
    padding-top:  150px;
}
/*Seccion equipo*/
#numeros-local
{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div
{
    padding: 0 20px 0 0;
    text-align: left;
    height: 48px;
}
#numeros-local div:not(:last-child)/*un borde al ultimo div*/
{
    border-right: 2px solid #3f3f3f;/*borde de derecha, solid es para la linea separatoria*/
}
#numeros-local div:not(:first-child)
{
    padding-left: 20px;
}
#numeros-local p
{
    margin: 0;
}
/*Contactos*/
#bg-contacto
{
    position:relative;
    top: -130px;
}
#seccion-contacto
{
    background-color: greenyellow;
    min-height:500px;
    position: relative;
}
/*Contacto formulario*/
#contenedor-formulario
{
   position: absolute;
   top: 30%;
   left: 50%;
   transform: translate(-50%, -50%); 
   background: grey;
   border-radius: 5px;
   max-width: 500px;
}
#titulo-formulario
{
    color: #3f3f3f;
}
